.gradle/caches/4.10.2/generated-gradle-jars/gradle-api-4.10.2.jar
.gradle/wrapper/dists/gradle-4.10.2-bin/cghg6c4gf4vkiutgsab8yrnwv/gradle-4.10.2-bin.zip
.vscode-server/bin/b1c0a14de1414fcdaa400695b4db1c0799bc3124/node
.vscode-server/extensions/ms-vscode.cpptools-1.21.5/LLVM/bin/clang-tidy
.cache/vscode-cpptools/c2c8562cfda2edbdfc9a9e4abaad43ef/.browse.VC.db
